.inputForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e4e4e4;
    height: 50px;
    border-radius: 25px;
}

.inputField {
    width: 475px;
    margin-left: 25px;
    background: #e4e4e4;
    border: none;
}

.dateButton {
    margin: 10px;
}

.dateButtonIcon {
    height: 30px;
    width: 30px;
    color: gray;
}

.dateButtonIcon:hover {
    color: var(--main-coral);
}

.addButton {
    padding: 0 40px;
    height: 50px;
    border-radius: 25px;
    background: var(--main-coral);
    color: white;
}

.addButton:hover {
    background: var(--main-coral-highlight);
}
