.todoListContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todoListWrapper {
    width: 700px;
    height: 600px;
    padding: 40px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.todoTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.todoTitle > h1 {
    color: var(--main-darkblue);
}

.todoTitle > img {
    height: 50px;
    width: 50px;
}

.addItemForm {
    margin-bottom: 30px;
}

.itemList {
    height: 405px;
    overflow-y: auto;
}

.date {
    font-weight: 400;
    margin-bottom: 5px;
}
