.listItemContainer {
    display: flex;
    width: 100%;
    min-height: 35px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.listItemWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkboxIcon {
    height: 30px;
    width: 30px;
    color: var(--main-coral);
    cursor: pointer;
}

.checkboxIcon:hover {
    color: var(--main-coral-highlight);
}

.checkbox {
    height: 30px;
    width: 30px;
    border: 2px lightgray solid;
    border-radius: 50%;
    cursor: pointer;
}

.checkbox:hover {
    border-color: var(--main-coral);
}

.editInput {
    font-size: 20px;
    border: none;
    width: 480px;
}

.itemDescription {
    font-size: 20px;
    cursor: pointer;
    padding: 2px;
    height: auto;
    overflow: hidden;
}

.itemDescription:hover {
    color: rgb(92, 92, 92);
}

.finished {
    color: darkgray;
    pointer-events: none;
    text-decoration: line-through;
}

.buttonsWrapper {
    display: flex;
    align-items: center;
}

.dateWrapper {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.dateButtonIcon {
    color: gray;
    height: 20px;
    width: 20px;
}

.dateButtonIcon:hover {
    color: black;
}

.otherIcons {
    color: gray;
    min-height: 25px;
    min-width: 25px;
}

.otherIcons:hover {
    color: black;
}

.crossIcon:hover {
    color: red;
}

.notesContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.notesContainer > input {
    margin-left: 40px;
    margin-top: -10px;
}

.notesContainer > button {
    margin-top: -10px;
}
