@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Normalize */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-coral: #ff5845;
    --main-coral-highlight: #fd7161;
    --main-darkblue: #000030;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    background: #092e3d;
    background: linear-gradient(150deg, rgb(2, 0, 128), rgb(100, 0, 158));
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:focus {
    outline: none;
    outline-offset: 1px;
}
:focus:not(:focus-visible) {
    outline: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
